.loading {
    width: 43rem;
    height: 12rem;
    background-color: $color-primary-white;
    margin-top: 1rem;
    border-radius: 2.5rem;
    padding: 1rem 2rem 1rem 2rem;
}

.weatherblock {
    width: 43rem;
    height: 12rem;
    background-color: $color-primary-white;
    margin-top: 1rem;
    border-radius: 2.5rem;
    padding: 1rem 2rem 1rem 2rem;

    //flexbox
    display: flex;

    .box-1 {
        //background-color:orangered;
        flex: 6;

        .name {
            font-size: 1.8rem;
            color: $color-primary-black;
        }

        .region {
            font-size: 1.2rem;
        }

        .country {
            font-size: 1.2rem;
        }

        .date {
            font-size: 1.2rem;
        }

        .time {
            font-size: 1.2rem;
        }
        
        .info-save-container {
            //flexbox
            display: flex;

            //for children
            text-align: center;

            .toggleinfo {
                font-size: 1.2rem;
                padding: .5rem 1rem .5rem 1rem;
                margin-top: .5rem;
                margin-bottom: .25rem;
                border-radius: .25rem;
                color: $color-primary-black;
                width: 40%;
                border-color: $color-primary-blue;
                border-style: solid;
                border-width: .1rem;
    
                &:hover {
                    cursor: pointer;
                    color: $color-primary-blue;
                }
    
                &:active {
                    font-size: 1.1rem;
                }
            }

            .save {
                font-size: 1.2rem;
                padding: .5rem 1rem .5rem 1rem;
                margin-top: .5rem;
                margin-bottom: .25rem;
                margin-left: 4rem;
                border-radius: .25rem;
                color: $color-primary-black;
                width: 25%;
                border-color: $color-primary-blue;
                border-style: solid;
                border-width: .1rem;
    
                &:hover {
                    cursor: pointer;
                    color: $color-primary-blue;
                }
    
                &:active {
                    font-size: 1.1rem;
                }
            }
        }

    }

    .box-2 {
        //background-color: orchid;
        flex: 2;

        //flexbox
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        //for children
        text-align: center;

        .icon {
            width: 6rem;
        }

        .description {
            font-size: 1.2rem;
        }
    }

    .box-3 {
        //background-color: palegoldenrod;
        flex: 3;

        //flexbox
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        //for children
        text-align: center;

        .temperature {
            font-size: 6rem;
            color: $color-primary-black;
        }

        .feelslike {
            font-size: 1.2rem;
        }
    }

    .box-4 {
        //background-color: paleturquoise;
        flex: 1;

        //flexbox
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        //for children
        text-align: center;

        .unit {
            font-size: 1.2rem;
        }

        .f {
            font-size: 1.2rem;
            padding: .25rem .5rem .25rem .5rem;
            margin-top: .5rem;
            margin-bottom: .25rem;
            border-radius: .25rem;
            background-color: $color-light-grey;
            color: $color-primary-black;

            .f--selected {
                background-color: $color-light-grey;
                color: $color-primary-black;
            }
        }

        .c {
            font-size: 1.2rem;
            padding: .25rem .5rem .25rem .5rem;
            margin-top: .25rem;
            margin-bottom: .25rem;
            border-radius: .5rem;
            //background-color: $color-light-grey;
            //color: $color-primary-black;

            .c--selected {
                background-color: $color-light-grey;
                color: $color-primary-black;
            }
        }
    }
}

.weatherblock__moreinfo {
    width: 43rem;
    height: 7rem;
    background-color: $color-primary-white;
    margin-top: 1rem;
    border-radius: 2.5rem;
    padding: 1rem 2rem 1rem 2rem;

    //flexbox
    display: flex;

    .box-1 {
        //background-color:orangered;
        flex: 12;
        font-size: 1.2rem;
    }
}